@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #9e838e;
  --secondary: #ebe5e8;

  --font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--font-family);
  font-size: 16px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 5px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
  flex: 1;
}

.todo {
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  margin-top: 50px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid #f0f0f0;
}
